body{
    background: #FFB6C1;
}


.first{
    text-align: center;
    color: #778899;
    position: top;
    font-size: 35px;
    padding: 0 0 30px 0;
}

.uno{
    box-sizing: content-box;
    width: 32%;
    height: 600px;
    border: dotted #b59174 3px;
    padding: 3px;
    float: left;
    color: #90acda;
    margin: 0 5px 0 0;
    

    

}


.studies{
   font-size: 50px;
   text-align: center;
   font-weight: bold;
   font-family: 'Birthstone', cursive;
}

.click1{
    font-size: 25px;
    font-weight: 800;
    color: #DC143C;
    text-align: center;

}



.dos{
box-sizing: content-box;
width: 32%;
height: 600px;
border: dotted #b59174 3px;
padding: 3px;
float: left;
color: #90acda;
margin: 0 5px 0 0;



}

.music{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Birthstone', cursive;
}

.tres{
box-sizing: content-box;
width: 32%;
height: 600px;
border: dotted #b59174 3px;
padding: 3px;
float: left;
color: #90acda;
margin: 0 5px 0 0;

}

.dramas{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Birthstone', cursive;
}






.boton{
    border: 2px solid pink;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    margin: 100px 0 20px 160px;
}
a{
    color: #90acda;
    text-decoration: none;
    font-family: 'Hind', sans-serif;
}

.inicio{
    box-sizing: content-box;
    padding: 3px;
    margin: 0 5px 20px 0;
    text-align: center;
    
}


.nav{
    
    margin: 100px 30px 30px 30px;
    text-align: center;

}

.insta{
    padding: 100px 50px 25px 50px;
}


.yo{
    color: #90acda;
    font-size: large;
    text-align: center;
}






